/* for the title of the band name */
#heading{
    text-align:center;
    position:relative;
    color:grey;
    font-size: 65px;
}
/* for headings at the top of the page*/
.headings{
  text-align: left;
  font-family: 'Nerko One', cursive;
}

/* for styling of buttons */
.button-grp{
  max-width:100%;
  background-color: gray; 
}
.thisbutton {
    background-color: gray;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 19%;
    cursor: pointer;

}     
button:hover{
    background-color:pink;
  }