/*
Id - #
Class - .
*/

#heading{
    text-align:center;
    position:relative;
    color:grey;
    font-size: 65px;
}

#belowheading{
    text-align: center;
    color:grey;
    background-color: lightgrey;
    font-size: 15px;
    word-spacing: 5px;
    height: 30px;
}
.back{
    background-color: black;
}
.content{
    position: absolute;
    text-align: left;
    
}
@media (max-width: 920px) {
    .split {
      flex: 1 100%;
      height: auto;
      font-size: 15px;
      float: left;
    }
  }
/*.button {
    background-color: white;
    border: none;
    color: black;
    text-align: left;
    padding: 15px 100%;
    text-decoration: none;
    display:block;
    font-size: 16px;
  }
      */
