/*
Id - #
Class - .
*/

#heading{
    position: absolute;
    text-align:center;
    color:grey;
    font-size: 65px;
}

#belowheading{
    text-align: center;
    color:grey;
    background-color: lightgrey;
    font-size: 15px;
    word-spacing: 5px;
    height: 30px;
}
.content{

        position: relative;
        width: 150px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        background-color: #FA6C61;
}
      
